BODY {
font: bold normal 9pt/10pt Arial,Helvetica;
text-align: center;
text-color: black;
}
a {
font: normal 10pt Arial,Helvetica;
text-decoration: none;
color:#000000;
}
a:hover {
font: bold;
text-decoration: none;
color:#CCCCCC;
text-align: center;
}
P.foot {
color:#000000;
font: bold 10pt Arial,Helvetica;
text-decoration: none;
text-align: center;
}
P.chron {
font: normal 9pt/11pt Arial,Helvetica;
text-decoration: none;
text-align: justify;
color:#000000;
}
P.cal {
font: normal 8pt/10pt Arial,Helvetica;
text-decoration: none;
text-align: justify;
color:#000000;
}
P.foot2 {
color:#000000;
font: bold 10pt Arial,Helvetica;
text-decoration: none;
text-align: right;
}
P.toproger {
font: normal 9pt/11pt Arial,Helvetica;
margin-left: 0.10in;
margin-right: 0.40in;
text-decoration: none;
text-align: justify;
color:#000000;
}
P.topnotnow {
font: normal 8pt/10pt Arial,Helvetica;
margin-left: 0.40in;
margin-right: 0.10in;
text-decoration: none;
text-align: justify;
color:#000000;
}
